<% include ./../partials/template %>
  <body>
      <% include ./../partials/header %>
      <% include ./../partials/nav %>
    <main role="main">
            <h2>Annonces</h2>
            <ul>
                <div class="row">
                     <div class="col-md-12">
            <div class="list">
              <a href="addAnnonce" class="link2" title="Mobile Friendly Template"><div class="imageg image2">

                  <img class="thumb2" src="/public/img/addfile.png" alt="Image">

                </a>  </div>
            <% anno.forEach(element => { %>
               <% if (element.libelle !== undefined ) { %>

                 <div class="image image2">

                     <a href="#" class="link" title="Mobile Friendly Template"><img class="thumb" src="/public/img/adsaddpng.png" alt="Image">
                     <div class="appendix"><span class="new"></span></div>
                   </a>
                   <a href="#" class="title" title="Armor Blitz Online the End of the Jedi"><%= element.libelle %></a>
                   <div class="info color">

                     <a href="" class="genre" title=""><%= element.cible %></a>
                     <a href="" class="genre" title="">Annonceur : <%= element.id_annonceur %></a>
                     <p><%= element.description %></p>
                   </div><br>
                   <span class="type">
                     <span class="price"><%= element.prix_max %> €</span>

                     <% if (element.valide == false || element.valide == undefined)  { %>
                     <% } else if (element.valide == true) {  %>
                         <l<span class="owned">✔ Validé</span>
                     <% } %>
                 </span>
               <center>
                 <% if (element.valide == false || element.valide == undefined)  { %>
                 <form action="/annonce/<%=element._id%>" method="POST">
                     <button class="btn btn-success btn-sm" type="submit"> Valider</button>
                 </form>
                 <% } %>
                     <div class="divbtn"><button type="button" class="btn btn-primary btn-sm">Modifier</button></div>
                     <div class="divbtn">  <button type="button" class="btn btn-primary btn-sm">Supprimer</button></div></center>
                     </div>

            <% } %>
        <% }); %>

        </div>
   </div>
</ul>
        </section>
    </main>
  </body>
</html>
