<% include ./../partials/template %>
  <body>
      <% include ./../partials/header %>
      <% include ./../partials/nav %>
  <main role="main">
          <h2>Jeux</h2>
          <ul>
              <div class="row">
                   <div class="col-md-12">
                      <div class="list">
                        <a href="addJeux" class="link2" title="Mobile Friendly Template"><div class="imageg image2">

                            <img class="thumb2" src="/public/img/addgames.png" alt="Image">

                          </a>  </div>
                        <% jeux.forEach(element => { %>
                        <div class="image image2">

                            <a href="#" class="link" title="Mobile Friendly Template"><img class="thumb" src="/public/img/gameslist.png" alt="Image">
                            <i class="icon corner" title="computer Browser"><img src="https://img.icons8.com/color/48/000000/laptop--v1.png" height="30px"/></i>
                            <div class="appendix"><span class="new">N°<%= element.id_annonce %></span></div>
                          </a>
                          <a href="#" class="title" title="Armor Blitz Online the End of the Jedi"><%= element.nom_jeu %></a>
                          <div class="info color">
                            <a href="" class="genre" title=""><%= element.id_tags %></a>
                          </div>
                          <span class="type">
                            <span class="price"><%= element.emplacements_annonces %> €</span>

                            <% if (element.valide == false || element.valide == undefined)  { %>
                            <% } else if (element.valide == true) {  %>
                                <l<span class="owned">✔ Validé</span>
                            <% } %>
                        </span>
                      <center>
                        <% if (element.valide == false || element.valide == undefined)  { %>
                        <form action="/jeux/<%=element._id%>" method="POST">
                            <button class="btn btn-success btn-sm" type="submit"> Valider</button>
                        </form>
                        <% } %>
                            <div class="divbtn"><button type="button" class="btn btn-primary btn-sm">Modifier</button></div>
                            <div class="divbtn">  <button type="button" class="btn btn-primary btn-sm">Supprimer</button></div></center>
                            </div>
<% }); %>
                      </div>
                   </div>
              </div>
          </ul>

      </section>
  </main>
</body>
</html>
