<% include ./../partials/template %>
  <body>
      <% include ./../partials/header %>
      <% include ./../partials/nav %>
    <main role="main">
        <section class="panel important">
            
            <h2>Jeu</h2>
            <ul>
            <li>
            <div class="wrapper">
                <div class="col_third">
                    <div class="hover panel">
                    <div class="front">
                        <div class="box2">
                        <p>Publicité 1</p>
                        </div>
                    </div>
            
                    </div>
                    </div>
            
                    <div class="col_third">
                    <div class="hover panel">
                    <div class="front">
                        <div class="box1">
                        <p><%= game.nom_jeu %></p>
                        <button onclick="displayAnnonce()">Click me</button>
                        </div>
                    </div>
                    </div>
                    </div>
                    <div class="col_third end">
                    <div class="hover panel">
                    <div class="front">
                        <div class="box2">
                        <p>Publicité 2</p>
                        </div>
                    </div>
                    </div>
                </div>            
            </li>
            </ul>
         </section>
    </main>
  </body>

  <script>
    var winningPrice = "<%= winningPrice %>";
    var libelle = "<%= libelle %>";
    var description = "<%= description %>";
    var id_annonceur = "<%= id_annonceur %>";
        function displayAnnonce() {
        setTimeout(function() {
            console.log(libelle)
        }, 1000);
    }
  </script>
</html>