<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>App CESI</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css'>
  <link rel="stylesheet" href="./../../public/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">


</head>
<body>
    <% include ./../partials/header %>
    <% include ./../partials/nav %>
    <main role="main">
        <section class="panel important">
            <h2>Jeu</h2>

                  <div class="container">
<div class="nav" onclick="window.location='#';"></div>
<div class="main-content">Jeu</div>
<div class="advertising" onclick="window.location='#';></div>
</div>

        </section>
    </main>
</body>

  <script>
    var winningPrice = "<%= winningPrice %>";
    var libelle = "<%= libelle %>";
    var description = "<%= description %>";
    var id_annonceur = "<%= id_annonceur %>";
    var winPrice = "<%= winningPrice %>";
    var id_annonce = "<%= id_annonce %>";
    var game_name = "<%= game.nom_jeu %>";
    function displayAnnonce() {
        setTimeout(function() {
            document.getElementById('pub1').innerHTML = libelle;
        }, 1000);
        setTimeout(function() {
            document.getElementById('pub2').innerHTML = libelle;
        }, 5000);

    }

    const btnPub1 = document.getElementById('pub1');
    var clickData = {
        "id_annonceur":id_annonceur,
        "id_annonce":id_annonce,
        "winPrice":winPrice,
        "game_name":game_name
    }
    btnPub1.addEventListener('click', function(e) {
        console.log("button was clicked");
        fetch('/click/clicked', {
            headers: { 'Content-Type': 'application/json' },
            method: 'POST',
            body:JSON.stringify(clickData)
        })
        .then(function(response) {
            if(response.ok){
                console.log("click recorded");
                return;
            } throw new Error("Request failed");
        })
        .catch(function(error){
            console.log(err);
        });
    });
  </script>
</html>
