<% include ./../partials/template %>
  <body>
      <% include ./../partials/header %>
      <% include ./../partials/nav %>
    <main role="main">
        <section class="panel important">
            <h2>Créer une enchère</h2>
            <ul>
              <li>
                <form action="addEnchere" method="POST">
                  <!--  General -->
                  <div class="form-group">
                    <div class="controls">
                    <label for="fruit">Jeux</label>
                    <select class="floatLabel" id="nom_jeux" name="nom_jeux">
                        <% jeux.forEach(element => { %>
                        <option value=<%=element._id%>><%=element.nom_jeu%></option>
                        <% }) %>
                    </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="controls">
                    <label for="fruit">Annonce</label>
                    <select name="libelle" id="select2-multiple-input-sm" class="form-control input-sm select2-multiple floatLabel" multiple>
                      <% annonces.forEach(elem => { %>
                      <option value=<%=elem._id%>><%=elem.id_annonceur%> - <%=elem.libelle%></option>
                      <% }) %>
                   </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="controls">
                    <label for="fruit">Emplacement annonce</label>
                    <select class="floatLabel" id="emp" name="emp">
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                    </div>
                  </div>
                  <div>
                    <button class="btn btn-primary" type="submit" name="submit" value="Ajouter">Ajouter</button>
                  </div>
                </form>
              </li>
            </ul>
          </section>
    </main>
  </body>
</html>
<script src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.full.min.js'></script><script type="text/javascript">
  $( ".select2-multiple" ).select2({
    theme: "bootstrap",
  	placeholder: "Selectionnez une ou plusieurs annonces",
    containerCssClass: ':all:'
  });
</script>
